* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body * {
  max-width: 1200px;
  margin: 0 auto;
}

h3 {
  color: #888;
}

li {
  margin: 0 14px;
}

  /* Header styles */
.header-container {
  background-color: #4EA0FF;
}

.img-gallery {
  margin-top: 15px;
}

.logo {
  margin-top: 95px;
  width: 260px;
}

.header {
  background-image: url(./img/pattern.png);
  height: 170px;
}

.description {
  color: #888;

  /* Main paragraph style */

}
.accent {
  color: rgb(42, 201, 201);
}

.main-paragraph {
  margin: 20px 0;
}

.highlight {
  background-color: yellow;
}


  /* Table styling */

table {
  margin-top: 20px;
  border-collapse: collapse;
  margin-bottom: 20px;

}

.table-header {
  background-color: #21A9E5;
  border-style: none;
}

th:last-child {
  width: 50%;
}

th:first-child, th:nth-child(2) {
  text-align: left;
}


.primary-color {
  background-color: #B1E5F2;
}


  /* Footer Styling */

footer {
  margin-top: 30px;
}

.footer-img {
  height: 208px;
  width: 20%;
  background-image: url(./img/monitor.jpg);
  margin: 10px 0;
  color: white;
  font-size: 1.5rem;
  padding-top: 10px;
  padding-left: 10px;
}
.footer-img-1 {
  background-image: url(./img/graph.jpg);
}